<h2 class="title">個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email ,"使用者帳號" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"input is-medium"%>
    <em class="help">範例：jonny2211@mail.com</em>
  </div>

  <div class="field">
    <%= f.label :username,"使用者名稱" %><br />
    <%= f.text_field :username ,class:"input is-medium"%>
    <em class="help">範例：jonny</em>
  </div>

  <div class="field">
    <%= f.label :intro,"個人簡介" %><br />
    <%= f.text_area :intro,rows:5 ,class:"textarea is-primary is-medium"%>
    <em class="help">讓大家認識你</em>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:"input  is-medium"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input  is-medium" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
