<section id="hot" class="columns">
  <section class="column is-two-thirds">
    <% @stories.each do |story|%>
      <article class="media">
        <div class="media-content">
              <h2 class="title is-4">
                <%=link_to story.title,story_page_path(story.user.username,story),class:'has-text-dark'%>
              </h2>
              <p class="content" >
                <%=strip_tags(story.content).truncate(150)%>   
              </p>
              <footer>
                    <p><%=link_to story.user.username,user_page_path(story.user.username) ,class:'has-text-grey-dark'%>
                          <%=time_ago_in_words(story.updated_at)%></p>
              </footer>
        </div>
        <figure class="media-right">
          <%=link_to story_page_path(story.user.username,story) do%>
            <%=image_tag story.cover_image.variant(resize_to_limit:[300,200]) if story.cover_image.attached? %>
          <%end%>
        </figure>
      </article>
    <%end%>
  </section>