<section class="columns ">
      <!-- left -->
      <section class="column  ">
            <article>
                  <figure>
                    <%=link_to story_page_path(@story_sample.user.username,@story_sample) do%>
                    <%=image_tag @story_sample.cover_image.variant(resize_to_limit:[600,450]),class:"image is-300x250" if @story_sample.cover_image.attached? %>
                    <%end%>
                  </figure>
                  <h2 class="title is-5"><%=link_to @story_sample.title,story_page_path(@story_sample.user.username,@story_sample),class:'has-text-dark'%></h2>
                  <p class="content" style="word-break: break-all;"><%=strip_tags(@story_sample.content).truncate(200)%></p>
                  <footer>
                    <p><%=@story_sample.user.username%></p>
                    <p><%=time_tag @story_sample.created_at%></p>
                  </footer>
            </article>
      </section>
      <!-- left -->
      <!-- middle -->
      <section class="column is-desktop  ">
            <%@stories_sample.each do |story|%>
              <article class="media ">
                    <figure class="media-left  ">
                        <%=link_to story_page_path(story.user.username,story) do%>
                          <%=image_tag story.cover_image.variant(resize_to_limit:[280,250]),class:'is-4by3' if story.cover_image.attached? %>
                        <%end%>
                    </figure>
                    <div class="media-content ">
                          <h2 class="title is-4"><%=link_to story.title,story_page_path(story.user.username,story),class:'has-text-dark is-4'%></h2>
                          <footer class='is-6'>
                                <%=strip_tags(story.content).truncate(30)%>
                          </footer>
                    </div>
              </article>
            <%end%>
      </section>
      <!-- middle -->
      <!-- right -->
      <section class="column">
            <article>
                  <figure class="image">
                    <%=link_to story_page_path(@story_current.user.username,@story_current) do%>
                        <%=image_tag @story_current.cover_image.variant(resize_to_limit:[300,300]) if @story_current.cover_image.attached? %>
                    <%end%>
                  </figure>
                  <h2 class="title is-5"><%=link_to @story_current.title,story_page_path(@story_current.user.username,@story_current),class:'has-text-dark'%></h2>
                  <p class="content">  <%=strip_tags(@story_current.content).truncate(150)%></p>
                  <footer>
                        <p><%=link_to @story_current.user.username,story_page_path(@story_current.user.username,@story_current),class:'has-text-dark'%></p>
                        <p><%=time_tag @story_current.created_at%></p>
                  </footer>
            </article>
      </section>
      <!-- right -->
</section>
<hr>
<section class="columns">
      <!-- article list -->
      <section class="column is-two-thirds">
            <% @stories.each do |story|%>
            <article class="media">
                  <div class="media-content">
                        <h2 class="title is-4">
                          <%=link_to story.title,story_page_path(story.user.username,story),class:'has-text-dark'%>
                        </h2>
                        <p class="content" >
                          <%=strip_tags(story.content).truncate(150)%>   
                        </p>
                        <footer>
                              <p><%=link_to story.user.username,user_page_path(story.user.username) ,class:'has-text-grey-dark'%>
                                    <%=time_ago_in_words(story.updated_at)%></p>
                        </footer>
                  </div>
                  <figure class="media-right">
                    <%=link_to story_page_path(story.user.username,story) do%>
                      <%=image_tag story.cover_image.variant(resize_to_limit:[300,200]) if story.cover_image.attached? %>
                    <%end%>
                  </figure>
            </article>
            <%end%>
      </section>
      <!-- article list -->
      <section class="column">
            <h2 class="title is-4">Popular on Medium</h2>
            <hr>
            <% @stories_clap.each_with_index do |story,i|%>
              <article class="media">
                    <div class="media-left"><%="#{i+1}"%></div>
                    <div class="media-content">
                          <h3><%=link_to story.title,story_page_path(story.user.username,story),class:'has-text-info'%></h3>
                          <footer>
                                <p><%=link_to story.user.username,user_page_path(story.user.username),class:'has-text-grey-dark'%></p>
                          </footer>
                    </div>
              </article>
            <%end%>
      </section>
</section>