<h1 class="title">故事列表</h1>
<%@stories.each do |story|%>
<div class="content"></div>
  <h2 class="title">
    <%=story.title%>
    <%= content_tag :span,'已發佈',class:'tag is-primary' if story.published? %>
  </h2>
  <p><%=story.content%></p>
  <p>最後編輯時間<%=time_ago_in_words(story.updated_at)%>
  <%=link_to "edit",edit_story_path(story),class:"button is-text is-small"%>
  <%=link_to "delect",story,method:'delete',class:"button is-text is-danger",data:{confirm:"確定刪除"}%>
  </p>
  <%end%>
</div>